
version: 2.1

orbs:
  heroku: circleci/heroku@1.2.2

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      
      - run:
        command: pip install -r requirements.txt
        name: Install dependencies
      
      - run:
          command: python -m pytest
          name: Test
workflows:
  main:
    jobs:
      - build-and-test
      - heroku/deploy-via-git: # Use the pre-configured job, deploy-via-git
          requires:
            - build-and-test




